body {
    font-family: 'Cookie', cursive;
}

.container {
    border: 20px solid red;
    position: relative;
    height: 600px;
    display: flex;
    white-space: nowrap;
    overflow: auto;
    padding: 20px 10px;
}

.h-blok {
    width: 250px;
    flex-shrink: 0;
    border: 1px solid black;
    background-color: green;
    margin: 0 10px;
    overflow: auto;
}
.v-blok {
    min-height: 30px;
    background-color: blue;
    margin: 20px;
    padding: 0 10px;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Pacifico', cursive;
}

.bold {
    font-weight: bold;
}
.underline {
    text-decoration-line: underline;
}
.h-50 {
    height: 50px;
}
.h-100 {
    height: 100px;
}
.h-150 {
    height: 150px;
}